.es-course-lesson-wrapper {
    margin: 60px 0;
    .ld-lesson-status {
        .ld-breadcrumbs {
            background: #FAFBFC;
            border: 1px solid #E1E4E8;
            padding: 20px;
        }
        .ld-breadcrumbs-segments {
            span {
                margin-right: 26px;
                position: relative;

                &:after {
                    position: absolute;
                    right: -13px;
                    top: -1px;
                }
            }

            a {
                font-size: 16px;
                color: #0366D6;
            }
        }
    }

    .learndash-wrapper {
        .ld-button {
            border-radius: 5px;
            font-size: 12px;
            margin-bottom: 5px;
            padding: 16px 20px;
            background-color: #f24c00;

            &:hover {
                background-color: #ea530d;
            }
        }
        .sfwd-mark-complete {
            &:after {
                right: 32px;
                top: 31%;
                font-size: 13px;
                transform: none;
            }
        }
        .learndash_mark_complete_button {
            border-radius: 5px;
            font-size: 12px;
            margin-bottom: 5px;
            padding: 16px 20px;
        }
        .ld-content-actions .ld-content-action .ld-course-step-back {
            font-size: 14px;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            color: #0366d6;
        }
        .ld-breadcrumbs {
            .ld-status {
                background-color: #e2e7ed;
                border-radius: 5px;
                color: #728188;
                font-size: 12px;
                margin-bottom: 0px;
                padding: 16px 20px;

                &.ld-status-progress {
                    background-color: #81878a;
                }
            }
        }

        .wp-block-embed__wrapper {
            iframe {
                width: 100%;
                @media (min-width: 600px) {
                    min-height: 450px;
                }
                @media (min-width: 900px) {
                    min-height: 550px;
                }
                @media (min-width: 1400px) {
                    min-height: 650px;
                }
           
            }
        }
    }
}