.es-course-notification-page {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 400px;

    img {
        width: 110px;
        margin: auto;
    }

    h5 {
        margin-top: 0px;
        font-size: 14px;
        color: rgba(100, 102, 103, 0.6980392157);
        font-weight: 500;
        margin-bottom: 10px;
    }

    h3 {
        margin-top: -10px;
        margin-bottom: 40px;
        font-size: 28px;
        font-weight: 700;
    }


}