.es-btn-orange {
    font-size: 14px;
    font-weight: 500;
    color: white;
    background: #E04B06;
    border-radius: 6px;
    padding: 16px 50px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s ease-in;
    cursor: pointer;
    border: none;

    &:hover {
        background: #ea530d;
    }
}

.es-user-auth-buttons {
    display: flex;
    gap: 7px;

    .es-btn {
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 7px 15px;
        font-weight: 700;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        transition: all 0.2s ease-in;

        &:hover {
            background-color: #494545;            
        }

        &.es-btn-signup {
            background-color: #648055;
            border-color: #648055;

                &:hover {
                    background-color: #576f4a;            
                    border-color: #576f4a;
                }
        }
    }
}