.es-single-forum-wrapper {
    margin-bottom: 50px;
}

.es-forum-header-banner {
    margin-top: 25px;

    .es-fhb-inner {
        background: #FAFBFC;
        display: flex;
        border-radius: 8px;

        @media screen and (max-width: 576px) {
            display: none;
        }

        .es-fhb-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 50px 40px;
            position: relative;
            
            &:not(:last-child):after {
                content: '';
                position: absolute;
                right: 0px;
                width: 1px;
                height: 114px;
                background: #E1E4E8;
                top: 50%;
                margin-top: -57px;
            }

            h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #3C3F41;
                margin-top: 12px;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
                color: #3C3F41;
                margin-top: 7px;
            }

            img {
                max-width: 70px;
                max-height: 70px;
            }
        }
    }
}

.es-forum-content-inner {
    display: flex;
    padding-top: 20px;
    padding-bottom: 60px;

    @media (max-width: 1024px) {
        flex-direction: column-reverse;
        gap: 60px;
    }
    
    .es-forum-sidebar {
        width: 380px;
        padding: 0 40px 0 20px;

        @media (max-width: 1024px) {
            width: 100%;
            padding: 0px 20px;
        }

        .es-sidebar-widget {
            padding: 0px 0px 20px 0px;
            margin-bottom: 30px;
            
            &:not(:last-child) {
                border-bottom: 1px solid #E1E4E8;
            }

            .widget-header {
                h4 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }

            .es-widget-content {
                margin-top: 20px;
                ul {
                    li {
                        display: flex;
                        gap: 10px;
                        margin-bottom: 10px;

                        a {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 24px;
                            color: #0366D6;
                        }

                        &.active {
                            a {
                                border-bottom: 1px solid #0366D6;
                            }
                        }
                    }
                }
            }

            &.es-widget-question {
                .widget-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
    
                    a {
                        padding: 4px 20px;
                    }
                }
    
                .es-widget-content {
                    ul {
                        li {
                            span {
                                font-size: 12px;
                                line-height: 20px;
                                text-align: center;
                                color: #646667B2;
                                background: #C3CDD8;
                                height: 20px;
                                width: 20px;
                                border-radius: 4px;
                                min-width: 20px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .es-forum-content {
        width: calc(100% - 380px);
        padding: 0px 20px 0px 40px;

        @media (max-width: 1024px) {
            width: 100%;
            padding: 0px 20px;
        }

    }
}

.es-forum-content-filter-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E1E4E8;
    padding-right: 10px;

    .es-filter-label {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }

    .es-filter-tabs {
        display: flex;
        gap: 8px;

        a {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            padding: 3px 13px;
            border: 1px solid #E1E4E8;
            border-bottom: 0px;
            border-radius: 4px 4px 0 0;

            &:hover {
                color: #E04B06;
                position: relative;
            }

            &.active {
                color: #E04B06;
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #ffffff;
                    bottom: -1px;
                    left: 0;
                }
            }
        }
    }
}

.es-forum-content-wrap {
    padding-top: 25px;
    .es-forum-content-entry {
        display: flex;
        gap: 15px;
        border: 1px solid #E1E4E8;
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 8px;

        &:hover {
            background: #FFFBEA;
        }
        
        .es-comments-counter {    
            background: #dadfe5;
            width: 40px;
            height: 50px;
            color: #ffffff;
            display: inline-flex;
            gap: 3px;
            border-radius: 4px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 14px;

            &.es-eng-severity-gray,
            &.es-eng-severity-orange_1 {
                color: #000;

                svg {
                    path {
                        fill: #A9B7C7;
                    }
                }
            }
            &.es-eng-severity-orange_1 {
                background-color: #EBDDD8;
            }
            &.es-eng-severity-orange_2 {
                background-color: #E8B097;
            }
            &.es-eng-severity-orange_3 {
                background-color: #E58C63;
            }
            &.es-eng-severity-orange_4 {
                background-color: #E04B06;
            }

        }

        .es-fce-title {
            h3 {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #0366D6;
            }

            p {
                font-size: 14px;
                margin-top: 5px;
            }
        }

        .es-fce-meta-data {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            @media (max-width: 576px) {
                flex-direction: column;
                gap: 20px;
            }

            .es-fce-entry-categories {
                display: flex;
                gap: 4px;
                align-items: center;
                flex-wrap: wrap;
                
                span {
                    color: #0366D6;
                    padding: 3px 10px;
                    border: 1px solid #0366D6;
                    border-radius: 4px;
                    font-size: 14px;
                    font-weight: 500;
                }
            }

            .es-right {
                display: flex;
                gap: 5px;
            }

            .es-entry-author {
                font-size: 14px;
                font-weight: 500;
            }

            .es-entry-date {
                font-size: 14px;
                color: #646667B2;
            }
        }
    }

    .es-forum-pagination {
        margin-top: 30px;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            gap: 10px;
        }

        a.page-numbers,
        span.page-numbers {
            border: 1px solid #A9B7C733;
            background: linear-gradient(180deg, #FFFFFF 0%, #EDF0F3 100%);
            font-size: 14px;
            font-weight: 500;
            padding: 15px 25px;
            border-radius: 4px;
            display: inline-block;
            transition: all 0.2s ease-in;

            &:hover, &.current {
                background: linear-gradient(180deg, #EDF0F3 0%, #dadee2 100%);
            }
        }
    }
}

.es-forum-top-nav ul {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #E1E4E8;
    border-bottom: 0px;
    border-radius: 6px 6px 0 0;

    li {
        border-bottom: 5px solid #E1E4E8;
        width: 100%;
        justify-content: center;
        display: flex;
        transition: all 0.1s ease-in;
        font-size: 14px;
        line-height: 16.41px;
        text-decoration: none;
        display: flex;
        padding: 12px 40px;
        color: #3C3F41;
        gap: 5px;
        align-items: center;
        width: 80%;
        justify-content: center;
        box-sizing: border-box;

        &.es-eng-severity-orange_1 {
            border-bottom-color: #EBDDD8;
        }
        &.es-eng-severity-orange_2 {
            border-bottom-color: #E8B097;
        }
        &.es-eng-severity-orange_3 {
            border-bottom-color: #E58C63;
        }
        &.es-eng-severity-orange_4 {
            border-bottom-color: #E04B06;
        }
    }

}

.es-forum-single-content-wrapper {
    margin-top: 30px;
    border: 1px solid #E1E4E8;
    border-radius: 4px;
    padding: 60px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 30px;
    gap: 120px;


    @media (max-width: 768px) {
        gap: 100px;
        flex-direction: column;
    }

    @media (max-width: 576px) {
        padding: 40px;
    }
    
    .es-content-area {
        width: 75%;


        @media (max-width: 768px) {
            width: 100%;
        }

        .es-content-title {
            h3 {
                font-size: 24px;
                font-weight: 500;
                line-height: 30px;
            }
        }

        .es-content-comments {
            padding-left: 55px;
            border-top: 1px solid #E1E4E8;
            margin-top: 20px;

            ul {
                li {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    border-bottom: 1px solid #E1E4E8;
                    padding: 10px 0px;

                    a {
                        color: #0366D6;
                        font-weight: 700;
                    }

                    .comment-date {
                        color: rgba(100, 102, 103, 0.6980392157);
                        font-weight: 700;
                    }

                    &.more-comments {
                        a {
                            color: #0366D6;
                            font-weight: 700;
                        }
                        border-bottom: 0px solid #E1E4E8;
                    }
                }
            }
        }

        .post-comment {
            display: grid;
            gap: 20px;
            border: 1px solid #E1E4E8;
            background: #FAFBFC;
            border-radius: 6px;
            padding: 12px;
            width: 100%;
            grid-template-columns: 30px calc(100% - 46px);

            .logged-in-as {
                display: none;
            }

            .es-author-img {
                img {
                    max-width: 30px;
                    border-radius: 6px;
                }
            }

            form {
                width: 100%;

                textarea {
                    width: 100%;
                    padding: 10px 60px 10px 10px;
                    box-sizing: border-box;
                    font-size: 14px;
                    border-radius: 5px;
                }

                button {
                    padding: 2px 10px;
                    font-size: 12px;
                    background: transparent;
                    color: #8e8f90;
                    border: 1px solid #8e8f90;
                }
            }
        }
    }

    .es-content-sidebar {
        width: 25%;
        position: relative;


        @media (max-width: 768px) {
            width: 100%;
        }

        .es-forum-post-author {
            .es-fpa-name {
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;

                img {
                    max-width: 40px;
                    border-radius: 20px;
                }
                a {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                }
            }

            .es-fpa-author-info {
                ul {
                    li {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #646667B2;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #646667B2;
                }
            }

            .es-fce-entry-categories {
                display: flex;
                flex-direction: column;
                margin: 15px 0px;
                gap: 10px;
                span {
                    a {
                        color: #0366D6;
                        padding: 4px 10px;
                        border: 1px solid #0366D6;
                        border-radius: 4px;    
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                        margin-top: 6px;
                    }
                }
            }
            .es-fpa-posted-date {
                span {

                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #646667B2;
                }
            }
        }
    }
}

.es-forum-answers-section {
    margin-top: 20px;
    display: flex;
    gap: 120px;


    @media (max-width: 768px) {
        gap: 40px;
        flex-direction: column;
    }

    .es-forum-answers {
        width: 75%;


        @media (max-width: 768px) {
            width: 100%;
        }

        .es-comment-title {
            border-bottom: 1px solid #E1E4E8;
            padding-bottom: 5px;
            font-size: 16px;
            font-weight: 500;
        }
    }

    .es-forum-answers-sidebar {
        width: 25%;
        position: relative;


        @media (max-width: 768px) {
            width: 100%;
        }

        .es-sidebar-title {
            h4 {
                padding-bottom: 5px;
                font-size: 16px;
                font-weight: 500;
                margin-top: 0px;
            }
        }

        .es-forum-related-questions-list {
            margin-top: 10px;

            ul {
                li {
                    margin-bottom: 10px;
                    position: relative;
                    padding-left: 28px;

                    .es-post-answers {
                        background: #ededed;
                        color: rgba(100, 102, 103, 0.6980392157);
                        height: 20px;
                        width: 20px;
                        font-size: 12px;
                        line-height: 20px;
                        border-radius: 4px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        position: absolute;
                        left: 00px;
                        top: 3px;
                    }

                    a {
                        color: #0366D6;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .es-forum-answers-list {
        margin-top: 15px;

        .es-forum-answer {
            display: flex;
            padding: 10px 0px;
            gap: 20px;

            .es-answer-reputation {
                display: flex;
                flex-direction: column;
                gap: 2px;
                .es-ar-upvote, 
                .es-ar-downvote {
                    button {
                        border: 1px solid #E1E4E8;
                        padding: 3px 12px;
                        color: #000;
                        font-size: 14px;
                        font-weight: 500;
                        border-radius: 5px;
                        width: 40px;
                    }
                }
                .es-ar-reputation-count {
                    border: 1px solid #E1E4E8;
                    background-color: #dadfe5;
                    padding: 1px 12px;
                    color: #000;
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 5px;
                    width: 40px;
                    text-align: center;

                    &.es-eng-severity-orange_1 {
                        background-color: #EBDDD8;
                    }
                    &.es-eng-severity-orange_2 {
                        background-color: #E8B097;
                    }
                    &.es-eng-severity-orange_3 {
                        background-color: #E58C63;
                        color: #fff;
                    }
                    &.es-eng-severity-orange_4 {
                        background-color: #E04B06;
                        color: #fff;
                    }
                }

                .es-ar-downvote {
                    button.voted {
                        background-color: #f4f4f4;
                    }
                }
                .es-ar-upvote {
                    button {
                        color: #E04B06;
                        border-color: #ebe7e7;

                        &.voted {
                            background-color: #E04B06;
                            color: #fff;
                        }
                    }
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }

            .es-answer-content {
                .es-answer-author {
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    .es-right {
                        display: flex;
                        flex-direction: column;
                    }

                    .es-author-img {
                        img {
                            width: 35px;
                            border-radius: 8px;
                        }
                    }

                    .es-author-name {
                        a {
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 15px;
                            color: #3C3F41;
                        }
                    }
                    .es-posted-date {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #646667B2;
                    }
                }

                .es-answer-text {
                    margin-top: 15px;
                    
                    code {
                        font-size: 14px;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

    .es-form-post-answer {
        margin-top: 20px;
        width: 100%;

        .logged-in-as {
            display: none;
        }

        .es-comment-title {
            margin-bottom: 25px;
            border-bottom: 1px solid #E1E4E8;
        }
    }

    .ql-toolbar.ql-snow + .ql-container.ql-snow {
        min-height: 150px;
        width: 100%;
        padding: 15px;
    }

    .es-post-answer-submit {
        margin-top: 20px;
    }
}

/////////
/// Ask Questions
/////////
.es-aq-top {
    background-color: #FAFBFC;
    border-bottom: 1px solid #E1E4E8;

    .es-aq-top-inside {
        padding: 25px 0px;
        display: flex;
        justify-content: space-between;

        a {
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            border: 1px solid rgba(169, 183, 199, 0.4);
            display: inline-flex;
            gap: 7px;
            align-items: center;
            text-decoration: none;
            background: linear-gradient(to top, rgba(169, 183, 199, 0.2) 0%, #fff 100%);
            color: #3C3F41;
            padding: 5px 12px;
            border-radius: 6px;
            cursor: pointer;

            img {
                width: 16px;
            }
        }
    }
}

.es-aq-form-container {
    padding: 60px;
    border: 1px solid #E1E4E8;
    margin: 30px 0px;

    @media screen and (max-width: 768px) {
        padding: 30px;
    }
}

.es-aq-form {
    display: flex;
    gap: 60px;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .es-aq-form-left {
        width: calc(100% - 320px);

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .es-aq-form-title {
            border-bottom: 1px solid #E1E4E8;
            border-radius: 0;
            padding-bottom: 10px;
            margin-bottom: 30px;

            input { 
                font-size: 22px;
                border: none;
                padding: 0px;

                &:hover {
                    border: none;
                }

                &:focus {
                    outline: none !important;
                }
            }
        }
    }

    .es-aq-form-right {
        width: 320px;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .es-forum-post-author {
            a.es-fpa-name {
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;

                img {
                    max-width: 40px;
                    border-radius: 20px;
                }
                span.es-fpa-name {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                }
            }

            .es-fpa-author-info {
                ul {
                    li {
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 15px;
                        color: #646667B2;
                    }
                }
                p {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #646667B2;
                }
            }

            .es-fce-entry-categories {
                display: flex;
                flex-direction: column;
                margin: 15px 0px;
                gap: 10px;
                span {
                    a {
                        color: #0366D6;
                        padding: 4px 10px;
                        border: 1px solid #0366D6;
                        border-radius: 4px;    
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 16px;
                        margin-top: 6px;
                    }
                }
            }
            .es-fpa-posted-date {
                span {
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    color: #646667B2;
                }
            }
        }

        .es-aq-categories {
            margin-top: 40px;
        }

        .es-aq-form-submit {
            margin-top: 30px;
        }
    }
}