header {
    background: #3C3F41;
    position: relative;

    .es-site-inner-container {
        display: flex;
        justify-content: space-between;

        .es-site-header-left {
            display: flex;
            gap: 15px;
            align-items: center;

            @media (max-width: 1024px) {
                padding: 10px 0px;
            }

            .site-menu {
                @media (max-width: 1024px) {
                    display: none;
                }

                ul {
                    display: flex;
                    li {
                        a {
                            color: #FFFFFFE7;
                            text-decoration: none;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            justify-content: center;
                            height: calc(100% - 2px);
                            padding: 4px 14px;
                            border-bottom: 2px solid transparent;
                            transition: all 0.2s ease-in;
                            border-radius: 3px;
                            border-bottom: 2px solid transparent;

                            &:hover {
                                background-color: #494b4d;
                                border-radius: 3px 3px 0 0;
                                border-bottom: 2px solid rgb(217, 215, 215);
                            }
                        }

                        &.current-menu-item {
                            a {
                                background-color: #494b4d;
                                border-radius: 3px 3px 0 0;
                                border-bottom: 2px solid rgb(217, 215, 215);
                            }
                        }
                    }
                }
            }
        }
    }

    .site-search-form {
        width: 290px;

        @media (max-width: 1040px) {
            width: 200px;
        }
        
        @media (max-width: 1024px) {
            display: none;
        }

        .es-form-control {
            width: 100%;
            height: 40px;

            input[type=text] {
                height: 100%;
                width: 100%;
                background: #F8FBF736 !important;
                color: #FFFFFF81;
                font-family: 'Roboto';
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                border: none;
                border-radius: 4px;
                padding: 0 10px;
                box-sizing: border-box;
                transition: all 0.2s ease-in;

                &:focus {
                    outline: none;
                    background-color: #dedddd !important;
                    color: #3C3F41;
                }
            }
            input::placeholder {
                color: #FFFFFF81;
            }
            input:focus::placeholder {
                color: #3C3F41;
            }
        }
    }

    .es-site-header-right {
        display: flex;
        gap: 105px;
        align-items: center;

        @media (max-width: 1040px) {
            gap: 5px;
        }

        .site-menu {
            ul {
                display: flex;
                height: 60px;
                margin: 0;
                align-items: center;

                li {
                    list-style: none;
                    height: 100%;

                    a {
                        text-decoration: none;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #FFFFFFE7;    
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;
                        padding: 0px 14px;
                        border-bottom: 2px solid transparent;
                        transition: all 0.2s ease-in;

                        span {
                            min-height: 18px;
                            display: inline-flex;
                            align-items: start;
                        }

                        img {
                            max-width: 17px;
                        }
                    }

                    &.current-menu-item, &:hover {
                        background-color: #505254;

                        a {
                            border-bottom: 2px solid #FFF;
                        }
                    }
                }
            }

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .site-right-buttons {
            .es-user-profile-button {
                position: relative;
                button {
                    background-color: transparent;
                    border: transparent;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    &:focus {
                        outline: none;
                    }
                }
                .es-user-avater-letters {    
                    background: #A9B7C7;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    width: 30px;
                    height: 30px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 11px;
                    margin-right: 10px;
                    text-transform: uppercase;
                }
                .es-user-avatar {
                    color: rgb(199 199 199 / 91%);
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                }
                svg {
                    margin-left: 6px;
                }

                .es-user-profile-dropdown {
                    display: none;
                    position: absolute;
                    width: 290px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    background: #fff;
                    right: 0px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    top: 40px;
                    z-index: 9999;

                    .es-upd-profile-name {
                        padding: 15px;
                        border-bottom: 1px solid #E1E4E8;

                        .es-user-avater-letters {
                            width: 40px;
                            height: 40px;
                            border-radius: 100%;
                        }

                        .es-user-avatar {
                            color: #3C3F41;
                        }
                    }

                    .es-user-profile-pages {
                        padding: 0;
                        margin: 5px 0;
                        li {
                            list-style: none;
                            a {
                                padding: 7px 12px;
                                display: block;
                                width: 100%;
                                text-decoration: none;
                                font-size: 14px;
                                box-sizing: border-box;
                                color: #3C3F41;
                                transition: all .1s ease-in;
                                &:hover {
                                    background-color: #E1E4E8;
                                }
                            }
                        }
                    }

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .es-site-mobile-menu-btn {
            @media (max-width: 1024px) {
                display: block;
                margin-left: 10px;
                cursor: pointer;

                img {
                    width: 28px;
                }
            }
            @media (min-width: 1025px) {
                display: none;
            }
            
        }
    }

    .es-header-mobile-navigation-wrapper {
        @media (max-width: 1024px) {
            .site-search-form {
                display: block;
                width: 100%;
                margin-bottom: 15px;
            }
        }
        display: none;
        position: absolute;
        top: 51px;
        z-index: 999;
        background-color: #3d3f41;
        left: 0px;
        width: 100%;
        padding: 20px;
        border-top: 1px solid #545454;

        &.active {
            display: block;
        }

        ul {
            li {
                a {
                    color: rgba(255, 255, 255, 0.9058823529);
                    padding: 10px 0px;
                    display: inline-flex;
                    align-items: center;

                    img {
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}

.single-sfwd-courses,
.page-template-template-all-courses,
.learndash-cpt-sfwd-courses {
    header .es-site-header-right .site-menu ul .es-courses-menu {
        background-color: #505254;
        a {
            border-bottom: 2px solid #FFF;
        }
    }
}