header {
    background: #3C3F41;

    .es-site-inner-container {
        display: flex;
        justify-content: space-between;

        .es-site-header-left {
            display: flex;
            gap: 15px;
            align-items: center;
        }
    }

    .site-search-form {
        .es-form-control {
            height: 40px;
            width: 290px;

            input {
                height: 100%;
                width: 100%;
                background: #F8FBF736;
                color: #FFFFFF81;
                font-family: 'Roboto';
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                border: none;
                border-radius: 4px;
                padding: 0 10px;
                box-sizing: border-box;

                &:focus {
                    outline: none;
                }
            }
            input::placeholder {
                color: #FFFFFF81;
            }
        }
    }

    .es-site-header-right {
        display: flex;
        gap: 105px;
        align-items: center;

        .site-menu {
            ul {
                display: flex;
                height: 60px;
                margin: 0;
                align-items: center;

                li {
                    list-style: none;
                    height: 100%;

                    a {
                        text-decoration: none;
                        font-size: 11px;
                        font-weight: 400;
                        line-height: 20px;
                        color: #FFFFFFE7;    
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        gap: 2px;
                        height: calc(100% - 2px);
                        padding: 0px 14px;
                        border-bottom: 2px solid transparent;
                        transition: all 0.2s ease-in;
                    }

                    &.current-menu-item, &:hover {
                        background-color: #505254;

                        a {
                            border-bottom: 2px solid #FFF;
                        }
                    }
                }
            }
        }

        .site-right-buttons {
            .es-logged-in-user {
                .es-user-name {
                    color: rgb(199 199 199 / 91%);
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                }
            }
        }
    }
}