.engispace-single-course-wrapper {

    .es-sc-top-nav {
        margin-top: 30px;
        display: flex;
        justify-content: space-around;
        border: 1px solid #E1E4E8;
        border-bottom: 0px;
        border-radius: 6px 6px 0 0;

        .es-top-nav-item {
            border-bottom: 5px solid #E1E4E8;
            width: 100%;
            justify-content: center;
            display: flex;
            transition: all 0.1s ease-in;

            &.active, &:hover {
                border-bottom-color: #E58C63;
            }

            a {
                font-size: 14px;
                font-weight: 700;
                line-height: 16.41px;
                text-decoration: none;
                display: flex;
                padding: 12px 40px;
                color: #3C3F41;
                gap: 5px;
                align-items: center;
                width: 80%;
                justify-content: center;
                box-sizing: border-box;
            }
        }
    }

    .es-sc-content-box {
        margin-top: 15px;
        border: 1px solid #E1E4E8;
        border-radius: 4px;
        padding: 60px;
        box-sizing: border-box;
        display: flex;
        margin-bottom: 30px;
        gap: 120px;

        .es-sc-content-area {
            width: 760px;

            .es-sc-course-header {
                display: flex;
                gap: 30px;
                border-bottom: 1px solid #E1E4E8;
                padding-bottom: 25px;
                margin-bottom: 25px;

                
                .es-sc-thubmail {
                    width: 216px;

                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 6px;
                    }
                }
                .es-sc-title {
                    width: calc(100% - 216px);
                    h2 {
                        margin-top: 4px;
                        margin-bottom: 10px;
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 30px;
                    }

                    a.es-sc-course-category {
                        border: 1px solid rgba(8, 105, 214, 0.4980392157);
                        color: #0366D6;
                        display: inline-block;
                        padding: 3px 15px;
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 500;
                        text-decoration: none;
                        border-radius: 5px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 24px;
                        margin-top: 20px;
                    }
                }
            }

            .es-sc-course-body {
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                }

                .ld-section-heading {
                    margin-bottom: -10px;
                    
                    h2 {
                        font-size: 12px;
                        color: #646667B2;
                        text-transform: uppercase;
                        margin-bottom: 0px;
                    }
                }
                .ld-item-list .ld-item-list-item .ld-item-name {
                    align-items: center;
                }
            }
        }
    }

    .es-sc-course-sidebar {
        width: calc(100% - 760px);
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: -60px;
            background: linear-gradient(180deg, #E1E4E8 47.09%, rgba(225, 228, 232, 0.0001) 100%);
            height: 300px;
            width: 1px;
        }

        .es-course-price-wrap {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            gap: 15px;

            ins {
                font-size: 26px;
                font-weight: 700;
                line-height: 24px;
                text-decoration: none;
            }

            del {
                font-size: 20px;
                font-weight: 700;
                line-height: 16px;
                color: #646667B2;
            }
        }

        button, a {
            margin-bottom: 25px;
        }

        .course-purchase-btn {
            background: #E04B06;
            border: none;
            cursor: pointer;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            display: block;
            color: #fff;
            padding: 14px;
            width: 100%;
            text-decoration: none;
            border-radius: 6px;
            box-sizing: border-box;
            transition: all 0.1s ease-in;
            position: relative;
            min-height: 53px;

            &:hover {
                background: #ed530c;
            }

            &:focus {
                outline: none;
            }

            .pb-text {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 4px;
            }

            .pb-icon {
                display: none;

                svg {
                    width: 56px;
                    height: 56px;
                    position: absolute;
                    left: calc(50% - 17px);
                    top: 0px;
                }
            }

            &.loading {
                .pb-text {
                    display: none;
                }
                .pb-icon {
                    display: block;
                }
            }
        }

        .es-sc-post-dates {

            p {
                font-size: 12px;
                font-weight: 700;
                line-height: 14.06px;
                color: #646667B2;
                margin-bottom: 7px;
                margin-top: 0px;
            }
        }

        .es-course-meta-data {
            margin-top: 15px;

            .es-course-meta-item {
                display: flex;
                gap: 8px;
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                color: #646667B2;
                margin-bottom: 8px;
            }
        }
        
        .es-sc-share-btn {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            border: 1px solid rgba(169, 183, 199, 0.4);
            display: inline-flex;
            gap: 7px;
            align-items: center;
            text-decoration: none;
            background: linear-gradient(to top, rgba(169, 183, 199, 0.2) 0%, #fff 100%);
            color: #3C3F41;
            padding: 7px 17px;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background: white;
            }
        }
    }

    .es-social-share {
        margin-top: 40px;

        .heateor_sss_sharing_ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            .heateor_sss_svg {
                width: 40px !important;
                height: 40px !important;
            }
        }
    }
}

