body, html {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto';
    color: #3C3F41;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 48px;
    line-height: 56px;
}
h2 {
    font-size: 42px;
    line-height: 58px;
}
h3 {
    font-size: 36px;
    line-height: 42px;
}

.es-site-container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 15px;
}

@media (min-width: 1200px) {
    .es-site-container {
        width: 1180px;
    }
}

.es-button-regular {
    background: #E04B06;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    padding: 14px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    border: none;

    &:hover {
        background: #ed530c;
    }
}

.es-color-red {
    color: #E04B06;
}
.es-font-18 {
    font-size: 18px;
}
.es-font-medium {
    font-weight: 500;
}

.es-background-gray {
    background-color: #F5F5F5;
}
#edd_purchase_form {
    .edd-stripe-card-element.StripeElement, 
    .edd-stripe-card-exp-element.StripeElement, 
    .edd-stripe-card-cvc-element.StripeElement {
        box-sizing: border-box;
        padding: 10px 12px !important;
        border: 1px solid #ccc;
        background-color: #fff;
    }
}
#edd-card-wrap,
#edd-card-exp-wrap, 
#edd-card-cvv-wrap {
    width: 48%;
    margin-top: 20px;
}
