body, html {
    margin: 0;
    padding: 0px;
    font-family: 'Roboto';
    color: #3C3F41;
    -webkit-font-smoothing: antialiased;
}

.es-site-container {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 15px;
}

@media (min-width: 1200px) {
    .es-site-container {
        width: 1180px;
    }
}

.es-button-regular {
    background: #E04B06;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #fff;
    padding: 14px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    border: none;

    &:hover {
        background: #ed530c;
    }
}