.es-modal-wrapper {
    position: fixed;
    left: -9999px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: #0000007d;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center;

    .es-site-modal {
        position: relative;
        transform: scale(0.95);
        margin-bottom: -40px;
        transition: all 0.2s ease;
        width: 400px;
        box-sizing: border-box;
        padding: 50px 20px 20px;
        background-color: #fff;
        border-radius: 8px;

        #es-user-signin-modal-body, 
        #es-user-signup-modal-body {
            display: none;
        }

        span.close-modal {
            position: absolute;
            right: 20px;
            top: 15px;
            cursor: pointer;
        }

        .es-modal-content {
            .es-privacy-statement p {
                color: #959595;
                font-size: 12px;
                text-align: center;

                a {
                    text-decoration: underline
                }
            }
            .es-form-control {
                margin-bottom: 15px;
                position: relative;
                label {
                    display: block;
                    color: #8e8e8e;
                    font-size: 14px;
                    font-weight: 500;
                    margin-bottom: 5px;

                    &.error {
                        margin-top: 5px;
                        font-size: 12px;
                        color: #e68c8c;
                    }
                }
            }
            .es-form-input {
                color: #495057;
                border: 1px solid #e1e4e8;
                font-weight: 400;
                font-size: 16px;
                border-radius: 4px;
                display: block;
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                padding: 0px 10px;
                box-sizing: border-box;

                &:focus {
                    outline: none;
                    border-color: rgba(126, 239, 104, 0.8);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
                }

                &.error {
                    &:focus {
                        border-color: rgba(239, 113, 104, 0.8);
                        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 113, 104, 0.6);
                    }
                }
            }

            .password-field-toggle {    
                position: absolute;
                top: 37px;
                right: 7px;
                border: none;
                background: transparent;
                z-index: 999;
                cursor: pointer;

                svg {
                    width: 16px;
                    height: 16px;
                    fill: #686060;
                }

                .password-hidden {
                    display: none;
                }

                &.password-displayed {
                    .password-visible {
                        display: none;
                    }
                    .password-hidden {
                        display: block;
                    }
                }
            }
        }

        .es-modal-content {
            padding: 10px 40px;
            margin-top: 30px;

            #xs-social-login-container {
                margin: 30px 0 10px;
                padding: 0px;

                .xs-login--style-2 {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    .es-auth-modal {
        width: 400px;
        box-sizing: border-box;
        padding: 50px 20px 20px;
        background-color: #fff;
        border-radius: 8px;
        position: relative;

        .es-form-message {
            display: none;
            font-size: 14px;
            font-weight: 700;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
            margin: 25px 0px -10px;

            &.form-success, &.form-error {
                display: block;
            }

            &.form-success {
                background: #1d9647;
            }
            
            &.form-error {
                background: #9f3e0d;
            }
        }

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                margin: auto;
            }
            h3 {
                margin-top: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-weight: 500;
                font-size: 16px;
                line-height: 25px;
            }
        }

        .es-submit-btn {
            text-align: center;
            margin-top: 40px;

            .es-btn-orange {
                display: inline-flex;
                align-items: center;
                gap: 4px;
                font-weight: 700;
                padding: 15px 35px;
                transition: background 0.2s ease-in;

                .loader-icon {
                    display: none;

                    svg {
                        width: 35px;
                        height: 35px;
                    }
                }

                &.display {
                    padding: 5px 35px;
                    .loader-icon {
                        display: block;
                    }
                }
            }
        }

        .es-modal-footer {
            p {
                font-size: 16px;
                color: #8e8e8e;
                text-align: center;
                margin: 0px;
            }
            button {
                background-color: transparent;
                border: none;
                color: inherit;
                padding: 0px;
                font-size: 16px;
                margin: 0px;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &.display-modal {
        display: flex;
        left: 0px;
        opacity: 1;
        visibility: visible;

        .es-site-modal {
            transform: scale(1);
            margin-bottom: 0px;
        }
    }

    &[modal-type="signin-modal"] {
        #es-user-signin-modal-body {
            display: block;
        }
        #es-user-signup-modal-body {
            display: none;
        }
    }
    &[modal-type="signup-modal"] {
        #es-user-signup-modal-body {
            display: block;
        }
        #es-user-signin-modal-body {
            display: none;
        }
    }
    &[modal-type="auth-require-modal"] {
        .es-site-modal {
            min-height: 300px;
            text-align: center;

            p {
                font-size: 12px;
                color: #818181;
                margin-top: -10px;
            }

            .es-btns {
                margin-top: 40px;
                span {
                    font-size: 12px;
                    margin: 0 5px;
                }
                .es-btn-signin, .es-btn-signup {
                    border: 1px solid #ebdfdf;
                    border-radius: 4px;
                    padding: 14px 30px;
                    font-weight: 700;
                    background-color: #ffffff;
                    color: inherit;
                    cursor: pointer;

                    &:hover {
                        background-color: #f5f3f3;
                    }
                }

                .es-btn-signup {
                    background-color: #E04B06;
                    color: #fff;

                    &:hover {
                        background-color: #ed530c;
                    }
                }
            }
        }
    }
    
    &[modal-type="social-share-modal"] {
        .es-site-modal {
            min-height: 260px;
            width: 800px;
            text-align: center;

            @media (max-width: 768px) {
                width: calc(100% - 30px);
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            p {
                font-size: 22px;
                font-weight: 300;
            }
        }
    }
    
    &[modal-type="upgrade-subscription-modal"] {
        .es-site-modal {
            min-height: 260px;
            width: 500px;
            text-align: center;

            @media (max-width: 768px) {
                width: calc(100% - 30px);
            }

            h3 {
                font-size: 24px;
                font-weight: 700;
            }
            p {    
                font-size: 14px;
                font-weight: 400;
                color: #999999;
            }

            .es-modal-buttons {
                margin-top: 40px;
            }
        }
    }
}