.es-home-cta-section {
    background-color: #3d3d3d;
    padding: 50px 0px;

    .es-home-cta-signup {
        background-color: #647f54;
        color: #fff;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.4px;
        border: none;
        border-radius: 5px;
        padding: 14px 50px;
        margin: 40px auto 0px;
        display: block;
    }
}
.es-cta-section-title {
    text-align: center;

    h4 {
        font-size: 34px;
        line-height: 50px;
        color: #d3d3d3;
        max-width: 74%;
        margin: auto;
    }
}
