.es-pricing-plan-wrapper {
    margin-top: 100px;
    margin-bottom: 40px;

    .es-pricing-compare-plans-btn {
        text-align: center;
        margin-top: 40px;
        button {
            color: #3379d9;
            font-size: 18px;
        }
    }

    h2 {
        margin-bottom: 48px;
        font-weight: 300;
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }

    .es-pricing-plans {
        display: grid;
        grid-template-columns: 29% 38% 29%;
        gap: 20px;

        .es-pricing-plan {
            border: 1px solid #f2f2f2;
            padding-bottom: 30px;

            h4 {
                background-color: rgb(224, 88, 39);
                color: #fff;
                font-size: 33px;
                margin: 0px;
                font-weight: 300;
                text-align: center;
                padding: 17px;

                span {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
            }

            &:first-child {

                .es-btn-orange,
                h4 {
                    background-color: rgb(105, 125, 90);
                }
                
            }
            &:nth-child(2) {
                box-shadow: 0 10px 50px rgba(0,0,0,0.08), 0 13px 45px rgba(0,0,0,0.08);
                .es-btn-orange,
                h4 {
                    background-color: rgb(224, 88, 39);
                }
            }
            &:last-child {
                .es-btn-orange,
                h4 {
                    background-color: rgb(34, 49, 71);
                }
            }

            .es-pricing-plan-price {
                text-align: center;
                color: #676767;
                margin-top: 20px;

                .es-pricing-plan-cost {
                    font-size: 60px;

                    sup {
                        font-size: 20px;
                    }
                }

                .es-pricing-plan-subs-type {
                    display: block;
                }
            }

            .es-pricing-plan-features {
                padding: 0px 40px;
                margin-top: 30px;
                ul {
                    margin: 0px;
                    padding: 0px;
                    li {
                        list-style: none;
                        margin-bottom: 4px;
                        font-weight: 300;
                        line-height: 22px;
                    }
                }
            }

            .plan-btn {
                text-align: center;
                margin-top: 40px;
            }
            .es-btn-orange {
                display: inline-block;
                margin: auto;
            }

            &.es-current-plan {
                position: relative;

                &:before {
                    position: absolute;
                    content: "";
                    top: 0px;
                    left: 0px;
                    background-color: #ffffff42;
                    width: 100%;
                    height: 100%;
                    z-index: 9;
                }

                .es-currently-subscribed {
                    opacity: 1;
                    position: absolute;
                    background: #f0efef;
                    width: 100%;
                    top: -16px;
                    text-align: center;
                    padding: 3px;
                    color: black;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .es-pricing-plan-wrapper {
        .es-pricing-plans {
            .es-pricing-plan {
                .es-pricing-plan-features {
                    padding: 0px 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .es-pricing-plan-wrapper {
        .es-pricing-plans {
            grid-template-columns: 1fr;
            
            .es-pricing-plan {
                .es-pricing-plan-features {
                    padding: 0px 15px;
                }
            }
        }
    }
}