.es-features-code-exchange {
    padding: 120px;
    background-color: #F5F5F5;

    .es-fce-inner {
        display: grid;
        grid-template-columns: 54% 43%;
        gap: 70px;
        align-items: center;
    }
}