.es-features-courses {
    background-color: #F5F5F5;
    padding: 100px 0px;
    position: relative;

    .es-fc-inner {
        display: flex;
        justify-content: space-between;

        .es-right {
            width: 50%;
            padding-right: 100px;
            box-sizing: border-box;

            ul {
                margin-top: 50px;
                position: relative;

                li {
                    font-size: 16px;
                    color: #6B6B6B;
                    margin-bottom: 50px;
                    line-height: 24px;
                    position: relative;
                    padding-left: 60px;

                    span {
                        position: absolute;
                        z-index: 2;
                        left: 0px;
                        top: 5px;
                        border: 2px solid #dbdbdb;
                        width: 24px;
                        height: 25px;
                        border-radius: 100px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: silver;
                        font-size: 12px;
                    }
                }
            }
        }

        .es-section-title {
            span {
                background: #EF4D1C;
                color: white;
                border-radius: 2px;
                padding: 5px 14px;
                display: inline-block;
            }
            h3 {
                font-size: 36px;
                line-height: 45px;
                color: #444444;
                margin-top: 20px;
            }
            p {
                font-size: 16px;
                line-height: 25px;
                margin-top: 20px;
                color: #6B6B6B;
            }
        }
    }

    .es-features-courses {
        position: absolute;
        left: -120px;
        top: 0px;
        .es-home-course-boxes {
            display: grid;
            grid-template-columns: 33% 33% 33%;
        }
    }

    @media (max-width: 1170px) {
        .es-features-courses {
            left: -180px;
        }
    }

    @media (max-width: 1024px) {
        .es-features-courses {
            position: initial;
            padding: 40px 0px;
            .es-home-course-boxes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
        .es-fc-inner {
            flex-wrap: wrap;
            .es-right {
                width: 100%;

                ul {
                    li {
                        padding-left: 40px;
                        margin-bottom: 25px;

                        span {
                            top: 0px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        padding: 60px 0px;
        .es-features-courses {
            .es-home-course-boxes {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    @media (max-width: 540px) {
        padding: 60px 0px;
        .es-features-courses {
            .es-home-course-boxes {
                display: flex;
                flex-wrap: wrap;
                .es-home-course-box {
                    width: calc(50% - 15px);
                    max-width: max-content;
                }
            }
        }
    }
}