.es-faq-pages-grid {
    background-color: rgb(249 250 251);
    padding: 70px 0px;

    .es-faq-pages-grid-inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        &>div {
            padding: 25px;
            text-align: center;

            h3 {
                font-size: 1.25rem;
                line-height: 1;
                font-weight: 500;
                margin-top: 15px;
            }

            .es-faq-pages-grid-img {
                width: 50px;
                padding: 16px;
                margin: auto;
                box-sizing: border-box;
                border-radius: 100%;
                background-color: #f24c00;

                img {
                    width: 100%;
                }
            }

            p {
                margin-top: 10px;
            }
        }
    }
}